# Motion Learning
build
*.so
__pycache__
KinematicCore.py
mocap_converter/bvh_data/kin_emotions
mocap_converter/bvh_data/kin_emotions_full
mocap_converter/bvh_data/bandai
mocap_converter/deepmimic_data/kin
mocap_converter/deepmimic_data/kin_full
mocap_converter/settings/dance_scales

lma_extractor/mocap_data