# Motion Learning
build
*.so
__pycache__
KinematicCore.py
mocap_converter/bvh_data/kin_emotions
mocap_converter/deepmimic_data/kin
mocap_converter/settings/dance_scales

lma_extractor/lma_features
lma_extractor/mocap_data